[
  {
    "op": "replace",
    "path": "/spec/rules/0/host",
    "value": "auth.mycluster.com"
  },
  {
    "op": "replace",
    "path": "/spec/tls/0/hosts/0",
    "value": "auth.mycluster.com"
  }

]
